<div class="infoPage">
<h1>General Information</h1>
<h2>Contributors:</h3>
<ul>
<h2>Creator: riry_D2</li>
<h2>Data Miner: leesa01</li> 
</ul>

<div class="space">
</div>

<h2>Join the Minewind mapart community!<h2>
<p>Minewind Mapart Archive discord: https://discord.gg/tcUCYrp4zF </p>
<p>Minewind server ip: mc.minewind.com </p>
</div>
